@use 'src/styles/vars';

.otherProfile {
  background-image: linear-gradient(135deg, vars.$mainBlue-opacity-8, vars.$darkBlue-Opacity-8);

  //? ombre
  box-shadow: vars.$effect-3D-blue;
  -ms-box-shadow: vars.$effect-3D-blue; /* IE 9 */
  -webkit-box-shadow: vars.$effect-3D-blue; /* Safari and Chrome */
  -o-box-shadow: vars.$effect-3D-blue; /* Opera */
  -moz-box-shadow: vars.$effect-3D-blue; /* Firefox */

  .avatar {
    border: 3px solid vars.$mainBlue;

    //? ombre
    box-shadow: vars.$effect-3D-black;
    -ms-box-shadow: vars.$effect-3D-black; /* IE 9 */
    -webkit-box-shadow: vars.$effect-3D-black; /* Safari and Chrome */
    -o-box-shadow: vars.$effect-3D-black; /* Opera */
    -moz-box-shadow: vars.$effect-3D-black; /* Firefox */
  }

  &-bar {
    width: 80%;
    color: vars.$orange;
    background-color: vars.$darkBlue-Opacity-8;
    border: 4px double #1f53b3;
    border-radius: 4px;
    padding: 0.5rem;
    margin-top: 0.5rem;
  }

  &-contributions {
    border: 6px double #1f53b3;
    border-radius: 4px;

    &-title {
      background-image: linear-gradient(135deg, #1f53b3, vars.$darkBlue-Opacity-0);
      color: vars.$orange;
    }

    &-item {
      background-color: vars.$darkBlue-Opacity-8;

      span {
        color: vars.$orange;
        font-weight: bold;
        font-size: 18px;
      }
    }
  }

  .refText {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3; //* limite de lignes
    overflow: hidden; //* cache le texte en trop
  }

  @media screen and (max-width: 1024px) {
    .otherProfile-bar {
      width: 100%;
    }
  }

  @media screen and (max-width: 480px) {
    .refText {
      -webkit-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 2; //* limite de lignes
      overflow: hidden; //* cache le texte en trop
    }
  }
}
