.description-text {
  text-shadow: 0 0 20px red;
  //? opacité
  // background-image: linear-gradient(135deg, rgba(40,10,175,0.9), rgba(15,5,60, 0.9));

  //? effet 3D
  // -webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
  // -moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
  // box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);

  &:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);
  }
}
