@use 'src/styles/vars';

.searchTitle {
  text-shadow: 0px 0px 20px red;
  
  &:hover {
    background-color: vars.$orange-opacity-3;
    border: 2px solid vars.$orange;
    box-shadow: 0px 0px 10px vars.$orange;
    text-shadow: 0px 0px 20px vars.$orange;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    color: white;
  }
}

.searchInput { 
  background-color: vars.$mainBlue-input;

  &::placeholder {
    color: rgb(200, 200, 200);
  }

  &:focus {
    box-shadow: 0px 0px 15px vars.$orange;
  }
}
