@use 'src/styles/vars';

.icon-position-style{
  background-color: vars.$orange;
  border: 2px solid white;
  animation: movebtn 3s ease-in-out infinite;
  transition: all .5s ease-in-out;

  &:hover{
    animation: none;
    background: white;
    color: vars.$orange;
    border: 2px solid vars.$orange;
  }
}

@keyframes movebtn {
  0%{transform: translateY(10px)}
  50%{transform: translateY(-10px)}
  100%{transform: translateY(10px)}
}
