@use 'src/styles/vars';

.citation {
  background-image: linear-gradient(135deg, vars.$mainBlue-opacity-8, vars.$darkBlue-Opacity-8);
  box-shadow: vars.$effect-3D-blue;
  -ms-box-shadow: vars.$effect-3D-blue; /* IE 9 */
  -webkit-box-shadow: vars.$effect-3D-blue; /* Safari and Chrome */
  -o-box-shadow: vars.$effect-3D-blue; /* Opera */
  -moz-box-shadow: vars.$effect-3D-blue; /* Firefox */

  .topleft:hover, .topright:hover {
    text-shadow: 0px 0px 20px vars.$orange;
  }

  .item {
    background-color: rgba(15, 15, 15, 0.9);
    box-shadow: vars.$effect-3D-black;
    -ms-box-shadow: vars.$effect-3D-black; /* IE 9 */
    -webkit-box-shadow: vars.$effect-3D-black; /* Safari and Chrome */
    -o-box-shadow: vars.$effect-3D-black; /* Opera */
    -moz-box-shadow: vars.$effect-3D-black; /* Firefox */

    &:hover {
      transition: transform 0.3s ease;
      transform: scale(1.1);
    }

    &-ref{
      -webkit-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 3; //* limite de lignes
      overflow: hidden; //* cache le texte en trop
    }
  }

  .item:nth-of-type(2), .item:nth-of-type(4) {
    align-self: flex-end;
  }

  @media screen and (max-width: 1024px) {
    .item:nth-of-type(2), .item:nth-of-type(4) {
      align-self: initial;
    }

    .item:hover {
      transition: initial;
      transform: initial;
    }
  }
}

.inactiveTab {
  background-image: linear-gradient(180deg, vars.$mainBlue-opacity-8, vars.$darkBlue-Opacity-8);
  color: white;
}
