@use 'src/styles/vars';

.compactProposalCard {
  background-color: rgba(15, 15, 15, 0.9);

  .ref {
    flex: 2;
  }

  .caractere {
    flex: 1;
  }

  p {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1; //* limite de lignes
    overflow: hidden; //* cache le texte en trop

    &>span {
      color: vars.$orange;
      font-weight: bold;
      font-size: 1.6rem;
      margin-right: 1rem;
    }
  }
}

.expandedProposalCard {
  background-color: vars.$mainBlue;

  &-form {
    &-group {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;
      width: 50%;

      &-label {
        background-image: linear-gradient(90deg, #1f53b3, vars.$darkBlue-Opacity-0);
        color: vars.$orange;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        padding-right: 0;
        text-align: center;
        font-size: 1.125rem;
        font-weight: bold;
        letter-spacing: 3px;
        width: 130%;
      }
    }

    input, select {
      background: #1f53b3;
      border-radius: 4px;
      border: 1px solid vars.$darkBlue;
      width: 80%;
      text-align: center;
      padding: 0.25rem;
    }

    #reference {
      background: #1f53b3;
      border: 1px solid vars.$darkBlue;
    }

    input:focus, select:focus, #reference:focus {
      box-shadow: 0px 0px 15px vars.$orange;
    }

    &-button {
      background-color: vars.$orange-opacity-3;
      border: 2px solid vars.$orange;
      box-shadow: 0px 0px 10px vars.$orange;
      font-family: 'Alegreya-sans';

      &:hover {
        background-color: vars.$orange;
        transition: transform 0.3s ease;
        transform: scale(1.3);
      }
    }
  }

  .btn-modal {
    background-color: vars.$orange-opacity-3;
    border: 2px solid vars.$orange;
  
    &:hover {
      transition: transform 0.3s ease;
      background-color: vars.$orange;
    }
  }
}

@media screen and (max-width: 1024px) {
  .compactProposalCard {
    p>span {
      font-size: 1rem;
    }
  }
  // .expandedProposalCard {
  //   top: 2rem;
  //   height: 45vh;
  //   left: 6rem;
  // }
}

// @media screen and (max-width: 480px) {
//   .expandedProposalCard {
//     top: 8rem;
//     height: 50%;
//     left: 25px;
//     width: 80%;
//   }
// }
