@use 'src/styles/vars';

.pendingProposals {
  &-title {
    text-shadow: 0 0 30px vars.$orange;
  }
}

.pendingProposals-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 10px;
  width: 100%;
}

.pendingProposals-list-item{
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .pendingProposals-list{
    flex-wrap: unset;
    flex-direction: column;
    justify-content: unset;
  }

  .pendingProposals-list-item{
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .pendingProposals-list{
    width: 90%;
  }
}
