@use 'reset';
@use 'vars';

body {
  font-family: 'Alegreya';

  // * Image en fond
  background-image: url(../assets/background-image.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// ? empêche le footer d'aller plus haut que le bas de l'écran
.app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: end;
  color: white;
  margin-top: 4rem;
}
