@use 'reset';
@use 'vars';

body {
  font-family: 'Alegreya';
  max-width: 100vw;

  // * Image en fond
  background-image: url(../assets/background-image.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// ? empêche le footer d'aller plus haut que le bas de l'écran
.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  color: white;
}
