@use 'reset';
@use 'vars';

body {
  font-family: 'Alegreya';
  background-color: #1A1D29;

  // * Image en fond
  background-image: url(../assets/dots-ge22c6630e_1920.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// ? empêche le footer d'aller plus haut que le bas de l'écran
.app {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: end;
}
