@use 'src/styles/vars';

.signIn_button {
  background-color: vars.$orange-opacity-3;
  border: 2px solid vars.$orange;
  box-shadow: 0px 0px 10px vars.$orange;

  &:hover {
    background-color: vars.$orange;
  }
}

.login-button{
  background-color: vars.$orange-opacity-3;
  border: 2px solid vars.$orange;
  box-shadow: 0px 0px 10px vars.$orange;

  &:hover {
    background-color:vars.$orange;
  }
}

.dropdown-content{
  background-color: vars.$mainBlue-modale;

  input {
    color: black;

    &::placeholder{
      color: vars.$placeholder-dark;
    }
  }
}

.alert-login {
  background-color: vars.$errorBackground;
  color: vars.$errorColor;
  border-radius: 5px;
  padding: 8px 25px;
  margin-top: 0.8rem;
  text-align: center;
  font-size: 14px;
}
