@use 'src/styles/vars';

.CompactCard {
  background-color: rgba(15, 15, 15, 0.9);

  .username {
    flex: 2;
  }

  .role {
    flex: 1;
  }

  p>span {
    color: vars.$orange;
    font-weight: bold;
    font-size: 1.6rem;
    margin-right: 1rem;
  }
}

.ExpandedCard {
  position: absolute;
  width: 60%;
  height: 70vh;
  z-index: 9;
  left: 13rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;

  background-color: yellow;
}

@media screen and (max-width: 1024px) {
  .CompactCard {
    p>span {
      font-size: 1rem;
    }
  }
  // .ExpandedCard {
  //   top: 2rem;
  //   height: 45vh;
  //   left: 6rem;
  // }
}

// @media screen and (max-width: 480px) {
//   .ExpandedCard {
//     top: 8rem;
//     height: 50%;
//     left: 25px;
//     width: 80%;
//   }
// }
