.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
  &:hover{
    cursor: pointer;
  }

  &-content{
    top: 30px;
    text-align: center;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    right: 0;
    background-image: linear-gradient(135deg,#30367b, rgba(48,54,123,0));
    background-color: rgba(28, 31, 54, 0.85);
  }

  // &:hover .dropdown-content{
  //   display: block;
  // }
}

.header-logged_profil{
  font-size: 1.5rem;
}
.header-logged_logo {
  font-size: 2rem;
}

.content-btn{
  padding: 15px;
  color: white;
  font-size: 16px;
  letter-spacing: 2px;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
    &:hover {
      transition: transform 0.3s ease;
      transform: scale(1.2);
      color: #FF7A20;
      text-shadow: 0px 0px 15px #FF7A20;
    }
}

