@use 'src/styles/vars';

.content{
  background-color: vars.$mainBlue-opacity-8;
}

.content-btn{
  padding: 0.875rem;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    transition: transform 0.3s ease;
    transform: scale(1.2);
    color: vars.$orange;
    text-shadow: 0px 0px 15px vars.$orange;
  }
}

@media screen and (max-width: 1024px) {
  .content-btn:hover {
    transition: initial;
    transform: initial;
    color: inherit;
    text-shadow: none;
  }
}
