.randomRef {
  //? opacité
  background-image: linear-gradient(135deg, rgb(48,54,123,0.9), rgba(28,31,54,0.9));
  
  //? effet 3D
  -ms-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75); /* IE 9 */
  -webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75); /* Safari and Chrome */
  -o-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75); /* Opera */
  -moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75); /* Firefox */
  box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);

  &:hover {
    -ms-transition: transform 0.3s ease; /* IE 9 */
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transition: transform 0.3s ease; /* Safari and Chrome */
    -webkit-transform: scale(1.1); /* Safari and Chrome */
    -o-transition: transform 0.3s ease; /* Opera */
    -o-transform: scale(1.1); /* Opera */
    -moz-transition: transform 0.3s ease; /* Firefox */
    -moz-transform: scale(1.1); /* Firefox */
    transition: transform 0.3s ease;
    transform: scale(1.1);
  }

  // ? Animation de rotation du dé
  span>img:hover {
    animation: loading 3s linear infinite;

    @keyframes loading {
      0% { 
        transform: rotate(0); 
      }
      100% { 
        transform: rotate(360deg);
      }
    }
  }

  // ? Limite l'affichage du texte en vertical
  &-text{
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 5; //* limite de lignes
    overflow: hidden; //* cache le texte en trop
  }
}
