@use 'src/styles/vars';

.listPages {
  background-image: linear-gradient(135deg, vars.$mainBlue-opacity-8, vars.$darkBlue-Opacity-8);

  //? ombre
  box-shadow: 12px 29px 81px 0px rgba(40,10,175,0.2);
  -ms-box-shadow: 12px 29px 81px 0px rgba(40,10,175,0.2); /* IE 9 */
  -webkit-box-shadow: 12px 29px 81px 0px rgba(40,10,175,0.2); /* Safari and Chrome */
  -o-box-shadow: 12px 29px 81px 0px rgba(40,10,175,0.2); /* Opera */
  -moz-box-shadow: 12px 29px 81px 0px rgba(40,10,175,0.2); /* Firefox */
}

.linkToMedia {
  background-color: rgba(15, 15, 15, 0.9);
  box-shadow: vars.$effect-3D-black;
  -ms-box-shadow: vars.$effect-3D-black; /* IE 9 */
  -webkit-box-shadow: vars.$effect-3D-black; /* Safari and Chrome */
  -o-box-shadow: vars.$effect-3D-black; /* Opera */
  -moz-box-shadow: vars.$effect-3D-black; /* Firefox */

  &-text {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3; //* limite de lignes
    overflow: hidden; //* cache le texte en trop
  }

  &:hover {
    color: vars.$orange;
  }
}

.anchorLetter:hover {
  transition: transform 0.3s ease;
  transform: scale(1.4);
  color: vars.$orange;
  text-shadow: 0px 0px 15px vars.$orange;
}

.ListTheme:first-child {
  border: none;
}
