@use 'src/styles/vars';

.refContainer {
  background-image: linear-gradient(135deg, vars.$mainBlue-opacity-8, vars.$darkBlue-Opacity-8);

  //? effet 3D
  box-shadow: vars.$effect-3D-blue;
  -ms-box-shadow: vars.$effect-3D-blue; /* IE 9 */
  -webkit-box-shadow: vars.$effect-3D-blue; /* Safari and Chrome */
  -o-box-shadow: vars.$effect-3D-blue; /* Opera */
  -moz-box-shadow: vars.$effect-3D-blue; /* Firefox */

  &-returnButton {
    border-bottom: 2px solid white;
  }

  &-title {
    color: vars.$orange;
    text-shadow: 0 0 20px vars.$orange;
    margin-bottom: 1rem;
    padding: 0.2rem;
    font-weight: bold;
    font-size: 1.5rem;
  }

  &-data {
    display: block;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .refContainer-title {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 480px) {
  .refContainer {
    &-title {
      font-size: 1rem;
    }

    &-data {
      font-size: 0.9rem;
    }
  }
}
